<div class="d-flex flex-column justify-content-center">
  <div class="title mb-2">
    Haz que <span class="highlight"><%= @artist_name %></span> venga a tu ciudad
  </div>

  <div class="subtitle mb-5">
    Te notificaremos por correo electrónico y mensajes de texto cuando haya grandes eventos cerca.
  </div>

  <div class="d-flex flex-column">
    <a class="btn btn-primary btn-lg" href="<%= login_path(artist: params[:artist]) %>">
      Comenzar
    </a>
  </div>

</div>
