<div class="d-flex flex-column justify-content-center">
  <div class="title mb-2">
    Haz que tu <span class="highlight">artista favorito</span> venga a tu ciudad
  </div>

  <div class="subtitle mb-5">
    Te notificaremos por correo electrónico y mensajes de texto cuando haya grandes eventos cerca.
  </div>

  <div class="d-flex flex-column">
    <button class="btn btn-primary btn-lg" href="<%= login_path %>">
      Comenzar
    </button>
  </div>

</div>
