<div class="content d-flex flex-column">
  <div class="title">
    Haz que tu <span class="highlight">artista favorito</span> venga a tu ciudad
  </div>

  <div class="subtitle">
    Te notificaremos por correo electrónico y mensajes de texto cuando haya grandes eventos cerca.
  </div>

  <a href="<%= login_path %>" class="btn btn-primary btn-lg">
    Comenzar
  </a>
</div>
