<div class="d-flex flex-column justify-content-between text-sm-left text-center">
  <div class="mb-5">
    <div class="title text-center text-sm-left">
      Tu artista favorito en tu ciudad
    </div>
    <div class="subtitle text-center text-sm-left">
      Ingresa a nuestra comunidad de fans
    </div>
  </div>
  <%= link_to "continuar con Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-lg mb-2" %>
  <%= link_to "continuar con Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-google btn-lg" %>
</div>
