<a href="javascript:void(0)">
  Google Login
</a>

<a href="javascript:void(0)">
  Facebook Login
</a>


<% unless current_user %>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<% else %>
  <%= current_user.inspect %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>