:root {
  --cherry: #dd0426;
  --strawberry: #f02d3a;
  --dark: #273043;
  --bluey-grey: #9197ae;
  --ice-blue: #eef3f6;
  --font-primary: AvenirNext, Arial, sans-serif;
  --font-secondary: HelveticaNeueLight, Arial, sans-serif;
}

// bootstrap override
$primary: #f02d3a; // --strawberry
$dark: #273043;

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@font-face {
  font-family: AvenirNextBold;
  src: url('../fonts/avenir/AvenirNextLTPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: AvenirNext;
  src: url('../fonts/avenir/AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: HelveticaNeueLight;
  src: url('../fonts/helvetica/HelveticaNeue Light.ttf') format('truetype');
}

@import 'node_modules/bootstrap/scss/bootstrap';
@import '../stylesheets/landing';
