.landing {
  background-color: var(--dark);
  color: #ffffff;
  font-family: var(--font-primary);
  padding-top: 38px;
  padding-bottom: 119px;
  text-align: center;
  min-height:100vh;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;

  header {
    font-family: var(--font-primary-bold);
    font-size: 21px;
    line-height: 1.64;
    text-align: left;
  }

  .btn {
    font-size: 16px;
    font-weight: bold;;
    line-height: 1.38;
  }

  .title {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.19;
  }

  .subtitle {
    font-size: 13px;
    line-height: 1.36;
    color: var(--bluey-grey);
  }

  .highlight {
    font-family: var(--font-primary-bold);
  }

  footer {
    font-family: var(--font-secondary);
    font-size: 10px;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    color: var(--bluey-grey);
  }
}