.landing {

  background-color: var(--dark);
  color: #ffffff;
  font-family: var(--font-primary);

  header {
    font-family: AvenirNext;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

  }
  color:var(--ice-blue);
}