.main {
  color: var(--dark);
  font-family: var(--font-primary);
  padding-top: 38px;
  padding-bottom: 119px;
  text-align: center;
  min-height: 100vh;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;

  header {
    font-family: var(--font-primary-bold);
    font-size: 21px;
    line-height: 1.64;
    text-align: left;

    .user-menu-header {
      font-size: 14px;
      line-height: 1.36;
    }
  }

  .title {
    font-family: var(--font-primary-bold);
    font-size: 30px;
    font-weight: bold;
    line-height: 1.13;
  }

  .subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.36;
  }

  .help-text {
    font-size: 12px;
    line-height: 1.33;
    color: var(--bluey-grey);
  }

  footer {
    font-family: var(--font-secondary);
    font-size: 10px;
    font-weight: 300;
    line-height: 1.2;
    color: var(--bluey-grey);
  }
}

.btn-facebook {
  background-color: #4a78de;
  border-color: #4a78de;
  box-shadow: 0 0 10px 0 rgba(139, 154, 167, 0.16);
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.btn-google {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(139, 154, 167, 0.16);
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.validator-container{
  margin-top: 40px;
  margin-bottom: 80px;
}

.validator-digit{
  border: none;
  border-bottom: 1px solid var(--bluey-grey);
  margin: 0 20px;
  font-size: 28px;
  text-align: center;
  width: 30px;
}
