<div class="row">
  <div class="col-12">
    <div class="title text-center text-sm-left">
      <%= @artist_name %> en tu ciudad
    </div>
    <div class="text-center">
      <%= react_component("Validator",
        { phoneList: @phone_list, redirectionPath: locator_index_path})
      %>
    </div>
  </div>
</div>
