<div class="row">
  <div class="col-12">
    <div class="title text-left">
      Tu artista favorito en tu ciudad
    </div>
    <div class="text-center">
      <%= react_component("Validator", { phoneList: @phone_list }) %>
    </div>
  </div>
</div>
